@font-face {
  font-family: 'Kaushan';
  src: url('../fonts/KaushanScript-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'montserrat_regular';
  src: url('../fonts/montserrat/Montserrat-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'montserrat_Bold';
  src: url('../fonts/montserrat/Montserrat-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'DroidSerif-Italic';
  src: url('../fonts/droid-serif/DroidSerif-Italic.ttf') format('TrueType');
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../fonts/roboto-slab/RobotoSlab-Regular.ttf') format('TrueType');
}
